body {
    background-color: #121212;
    color: #FFFFFFDE;

    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 2.25em;
    font-weight: 700;
}

h1.big {
    font-size: 9vh !important;
    font-weight: 700 !important;
}

a:hover {
    color: #1DD946 !important;
}

.accent {
    color: #1DD946 !important;
}

.bi {
    font-size: 1.5em;
}

.caret {
    animation: blink-animation 1s steps(2, start) infinite;
    -webkit-animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.chevron {
    color: #A6A6A6;

    font-size: 12px;
}

.muted {
    color: #A6A6A6;
}